<h1 class="text-center">Controle Financeiro</h1>

<div class="col-md-6">

  <div class="box">
    <div class="box-content text-center">
      <div class="hello-box">
        <p>Boa noite, Fulano!</p>
      </div>
      <div class="info-text">
        <i>R$</i> 2.500,00
      </div>
      <p>Saldo geral</p>
    </div>
  </div>

</div>

<div class="col-md-6">

  <div class="box">
    <div class="box-content text-center">
      <div class="acesso-rapido-box">
        <p>Acesso rápido</p>
      </div>
      <div class="acesso-rapido-acoes">
        <ul>
          <li>
            <a href="#" class="receita">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Receita
            </a>
          </li>
          <li>
            <a href="#" class="despesa">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Despesa
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="col-md-6">

  <div class="box">
    <div class="box-content">
      <div class="minhas-contas-box">
        <p>Minhas contas</p>
      </div>
      <div class="minhas-contas">
        <ul>
          <li>
            <span>Carteira</span>
            <span>R$ -10,00</span>
          </li>
          <li>
            <span>C.E.F 30676-1</span>
            <span>R$ 2.000,00</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="col-md-6">

  <div class="box">
    <div class="box-content">
      <div class="minhas-contas-box">
        <p>Lançamentos por categorias</p>
      </div>
      <div class="minhas-contas">
        <ul>
          <li>
            <span>Salário</span>
            <span>R$ 2.000,00</span>
          </li>
          <li>
            <span>Alimentação</span>
            <span>R$ 200,00</span>
          </li>
          <li>
            <span>Saídas</span>
            <span>R$ 250,00</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
